# API
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=http://localhost:3000
PORT=3001
NODE_ENV=development

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
API_INTERNAL_URL=http://localhost:3001
NEXT_PUBLIC_TENANT_SLUG=pintureria-demo
NEXT_PUBLIC_UI_MODE=modern

# Backups
GPG_PASSPHRASE=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
